@charset "utf-8";
/* CSS Document */


.eventForm {
	height:30px;
	padding-top:15px;
	margin-left:10px;
}
.bottom-padding {
	padding:0.4em 1em 0.4em 20px;
	position:relative;
	text-decoration:none;
}
.bottom-padding span.ui-icon {
	left:0.2em;
	margin:-8px 5px 0 0;
	position:absolute;
	top:50%;
}
.bottom-padding:hover {
	border: 1px solid #242e3a;
	background: #242e3a url(images/ui-bg_flat_100_242e3a_40x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #ffffff;
}
.bottom-padding span.ui-icon:hover {
	background-image: url(images/ui-icons_ffffff_256x240.png);
}


.TableMainCenter {
	width:100%;
	margin-top:15px;
}
.TableMainCenter td {
	vertical-align:top;
}
.td-table-menu {
	width:180px;
}
.td-table-menu a {
	font-size:13px;
	text-decoration:none;
	color: #FFF;
	display:block;
	padding:2px 5px 2px 20px;
}
.td-table-menu a:hover {
	background: url(../images/bg/frame_main_1.png);
}
.menu-link-na {
	}
.menu-link-a {
	background: url(../images/bg/frame_main_1.png);
}

	.DivCenterTop{
		padding:5px;
		background: url(../images/bg/frame_main_1.png);
	}
	.DivCenterBg {
		background: url(../images/bg/frame_main_1.png);
		padding-left:10px;
		padding-right:10px;
		padding-bottom:10px;
	}
	.DivCenterContent{
		background:#FFF;
		padding-bottom:30px;
		min-height:600px;
	}
		
	
		
		.table-list { width:100%; border-bottom:none; margin: 0px 0px 0px 0px; font-size:12px; font-size:11px;  }
		.table-list td  { padding:2px 4px 2px 4px; vertical-align: top; }
		.table-list td  { border-width:0 1px 1px 0px; border-color:#dadfe0 #dadfe0 #999; border-style:solid; }
		.table-list tr:hover { background:#fcf5dd; cursor: auto;}
		
		.table-list tr.headings { background: none repeat scroll 0 0 #192129; color:#FFF; font-size:13px;  border-bottom: 1px solid #939797;  }
		.table-list tr.headings td { border-width:0 1px 0px 0px;  border-color:#dadfe0; border-style:solid;  padding:2px 4px 4px 4px; cursor: default; vertical-align:bottom!important}
		
form .zpFormLabel { float: left; line-height: 20px; width: 200px; }
form fieldset { border: 1px solid #DFDFDF; margin: 5px 1px 10px; padding: 10px; }
	
form input[type="text"] { background: #FFFFFF; border: 1px solid #7F9DB9; margin-bottom: 8px; width: auto; }
form input[type="file"] { background: #FFFFFF; border: 1px solid #7F9DB9; margin-bottom: 8px; width: auto; } 
form select { background: #FFFFFF; border: 1px solid #7F9DB9; margin-bottom: 8px; width: auto; } 
form button { background: url("images/ui-bg_flat_50_485a70_40x100.png") repeat-x scroll 50% 50% #485A70; border: 1px solid;    color: #FFFFFF;    cursor: pointer;    display: inline-block; line-height: 16px;    margin-left: 10px; padding: 3px 7px;    width: auto; }
		